// FOOTER

.footer__start{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    a{text-decoration: none;
      color: 
      #08546C;                      }

}
.footer__start__web-sayt{
margin-top: 50px;
display: flex;


}

.footer__start__web-sayd{
 margin-right: 50px;
}
.footer__child{
    color:#757575;
    font-size: 
    18px;
    width: 300px;
    height: 15px;
    line-height: 28px;
}
.footer__start__p{
        color:#757575;
        font-size: 
        18px;
        width: 300px;
        height: 84px;
        line-height: 28px;
}
.footer__child{
    margin-right: 30px;
}
.footer__child-all{
    a{
        color: #757575;
    }
}
.footer__second{
    margin-top: 300px;
    display: flex;
    align-items: center;
margin-left: auto;
margin-right: auto;
    width: 1920px;
    height: 730;
    margin-bottom: 50px;
    background-image: url('../images/hero-blur-image-bg.png');
    background-color: #08546C;
    p{
        color: #fff;
    }
}
.footer__second__p__1{
    width: 
    585px;
    height: 
    151px;
}

